<div class="container-fluid" style="width: 500px;">
  <div class="col-12 text-center">
    <h1 mat-dialog-title>Crear Estudiante</h1>
  </div>
  <mat-card>
    <form [formGroup]="studentForm" action="" class="col-12">
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario" formControlName="username" />
            <mat-error *ngIf="studentForm.controls['username'].hasError('required')">
              Usuario es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="firstName" />
            <mat-error *ngIf="studentForm.controls['firstName'].hasError('required')">
              Nombre es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" formControlName="lastName" />
            <mat-error *ngIf="studentForm.controls['firstName'].hasError('required')">
              Apellido es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="Edad" formControlName="age" />
            <mat-error *ngIf="studentForm.controls['firstName'].hasError('required')">
              Edad es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Carrera</mat-label>
            <input matInput placeholder="Carrera" formControlName="career" />
            <mat-error *ngIf="studentForm.controls['firstName'].hasError('required')">
              Carrera es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card>
  <div class="col-12 text-center mb-4 mt-4">
    <button class="btn btn-success" type="submit" [disabled]="!studentForm.valid" (click)="createStudent()">Crear</button>
  </div>
</div>
