.header{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(23, 15, 58) 100%);
}

h1, h3{
  color: white;
}
.mat-icon {
  position: relative;
  top: 10px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: white;
}

p{
  color: white;
}

a{
  color: white !important;
  cursor: pointer;
}

.contenedor1{
  position: relative;
  overflow: hidden;
  display: flex;
  width: 15%;
}
