<div class="header container-fluid">
  <div class="row align-items-center">
    <div class="contenedor1 col col-lg-1 col-md-1 col-sm-1 text-center">
      <h3><mat-icon> person_pin</mat-icon> Bienvenido</h3>
    </div>

    <div class="bienvenido col col-lg-6 col-md-6 col-sm-5 text-start align-items-center text-center">
      <h1 style="margin-bottom: 10px; margin-top: 5px;">Students App</h1>
    </div>

    <div class="col col-lg-3 col-md-2 col-sm-4 text-end align-items-center">
      <p>Fecha Actual: {{dateDay | date:'dd-MM-yyy hh:mm:ss'}}</p>
    </div>
  </div>
</div>


